body {
	font-family: "宋体";
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	background-image: url(../images/back.gif);
	margin: 0px;
}
table {
	FONT-SIZE: 12px
}
a {
	COLOR: #ff6633; TEXT-DECORATION: none
}
.STYLE1 {color: #FF0000}